<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h2>로그인</h2>

<form id="loginForm">
    <label>아이디:</label>
    <input type="text" id="username" required /><br/>

    <label>비밀번호:</label>
    <input type="password" id="password" required /><br/>

    <a href="/oauth2/authorization/naver">naver login</a><br>
    <a href="/oauth2/authorization/google">google login</a>

    <button type="submit">로그인</button>
</form>

<!-- 타임리프에서 사용할 수 있는 링크 추가 -->
<a th:href="@{/}">메인페이지로 이동</a>
<a th:href="@{/user/registerForm}">회원가입 페이지로 이동</a>
</body>
</html>
